Made by [Ihor]("https://github.com/NaturalStupldity")

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('adult.data.csv')
df.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

1. Скільки чоловіків та жінок (ознака sex) представлено в цьому наборі даних?

In [3]:
df['sex'].value_counts()

sex
Male      21790
Female    10771
Name: count, dtype: int64

2. Який середній вік жінок (ознака age)?

In [4]:
df['age'].mean()

38.58164675532078

3. Яка частка громадян Німеччини (ознака native-country)?

In [5]:
(df['native-country'] == "Germany").mean()

0.004207487485028101

4. Які середні значення та середньоквадратичні відхилення віку тих, хто отримує більше 50К в
рік (ознака salary) та менше або рівно 50К в рік?

In [6]:
df[df['salary'] == '>50K']['age'].agg(['mean', 'std'])

mean    44.249841
std     10.519028
Name: age, dtype: float64

In [7]:
df[df['salary'] == '<=50K']['age'].agg(['mean', 'std'])

mean    36.783738
std     14.020088
Name: age, dtype: float64

5. Чи правда, що люди, які отримують більше 50К, мають як мінімум вищу освіту (ознака
education: Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters, Doctorate)?

In [8]:
uni = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']
if (df[(df['salary'] == '>50K') & (~df['education'].isin(uni))].empty):
    print("Всі люди, які отримують більше 50К, мають як мінімум вищу освіту")
else:
    print("Не всі люди, які отримують більше 50К, мають як мінімум вищу освіту")

Не всі люди, які отримують більше 50К, мають як мінімум вищу освіту

6. Виведіть статистику віку для кожної раси (ознака race) і статі. Використовуйте groupby та
describe. Знайдіть максимальний вік чоловіків раси Amer-Indian-Eskimo.

In [9]:
df.groupby(['race', 'sex'])['age'].describe()

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

In [10]:
df[(df['race'] == 'Amer-Indian-Eskimo') & (df['sex'] == 'Male')]['age'].max()

82

7. Серед кого більша частка з високою зарплатнею (>50K): серед одружених або неодружених
чоловіків (ознака marital-status)? Одруженими вважаємо тих, у кого marital-status починається з Married (Married-civ-spouse, Married-spouse-absent, Married-AF-spouse), інших вважаємо неодруженими.

In [11]:
def is_married(status):
    return status.startswith("Married-")

In [12]:
df['is_married'] = df['marital-status'].apply(is_married)
salary_stats = df.groupby('is_married')['salary'].value_counts(normalize=True).unstack()
salary_stats

salary         <=50K      >50K
is_married
False       0.935546  0.064454
True        0.563080  0.436920

In [13]:
married_high_income_percentage = salary_stats.loc[True, '>50K']
unmarried_high_income_percentage = salary_stats.loc[False, '>50K']

if married_high_income_percentage > unmarried_high_income_percentage:
    print("Більша частина з високою зарплатнею (>50K) серед одружених чоловіків.")
elif married_high_income_percentage < unmarried_high_income_percentage:
    print("Більша частина з високою зарплатнею (>50K) серед неодружених чоловіків.")
else:
    print("Частка з високою зарплатнею (>50K) однакова серед обох груп.")

Більша частина з високою зарплатнею (>50K) серед одружених чоловіків.

8. Яку максимальну кількість годин людина працює на тиждень (ознака hours-per-week)? Скільки людей працюють таку кількість годин і який серед них відсоток заробляють багато?

In [14]:
max_load = df['hours-per-week'].max()
print("Максимальна кількість годин людина працює на тиждень: ", max_load)

Максимальна кількість годин людина працює на тиждень:  99

In [15]:
num_workaholics = df[df['hours-per-week'] == max_load].shape[0]
print("Кількість таких людей: ", num_workaholics)

Кількість таких людей:  85

In [16]:
rich_guys = float(df[(df['hours-per-week'] == max_load) & (df['salary'] == '>50K')].shape[0]) / num_workaholics
print("Відсоток людей, що заробляють багато: {:.2f}%".format(100 * rich_guys))

Відсоток людей, що заробляють багато: 29.41%

9. Порахуйте середній час роботи (ознака hours-per-week) тих, хто заробляє мало і багато для кожної країни (ознака native-country).

In [17]:
df.groupby(['native-country', 'salary'])['hours-per-week'].mean().unstack()

salary                          <=50K       >50K
native-country
?                           40.164760  45.547945
Cambodia                    41.416667  40.000000
Canada                      37.914634  45.641026
China                       37.381818  38.900000
Columbia                    38.684211  50.000000
Cuba                        37.985714  42.440000
Dominican-Republic          42.338235  47.000000
Ecuador                     38.041667  48.750000
El-Salvador                 36.030928  45.000000
England                     40.483333  44.533333
France                      41.058824  50.750000
Germany                     39.139785  44.977273
Greece                      41.809524  50.625000
Guatemala                   39.360656  36.666667
Haiti                       36.325000  42.750000
Holand-Netherlands          40.000000        NaN
Honduras                    34.333333  60.000000
Hong                        39.142857  45.000000
Hungary                     31.300000  50.000000
India                       38.233333  46.475000
Iran                        41.440000  47.500000
Ireland                     40.947368  48.000000
Italy                       39.625000  45.400000
Jamaica                     38.239437  41.100000
Japan                       41.000000  47.958333
Laos                        40.375000  40.000000
Mexico                      40.003279  46.575758
Nicaragua                   36.093750  37.500000
Outlying-US(Guam-USVI-etc)  41.857143        NaN
Peru                        35.068966  40.000000
Philippines                 38.065693  43.032787
Poland                      38.166667  39.000000
Portugal                    41.939394  41.500000
Puerto-Rico                 38.470588  39.416667
Scotland                    39.444444  46.666667
South                       40.156250  51.437500
Taiwan                      33.774194  46.800000
Thailand                    42.866667  58.333333
Trinadad&Tobago             37.058824  40.000000
United-States               38.799127  45.505369
Vietnam                     37.193548  39.200000
Yugoslavia                  41.600000  49.500000